*{
    box-sizing: border-box;
}
.typeholder {
    display: flex;
    background-color: red;
    font-color: yellow;
    text-align: center;
}

.parentContainer {
    display: flex;
    background-color: blue;
    padding: 20px;
    margin: 20px;
    border: royalblue solid 20px;
    height: flex;
    width-min; 250px;
}

.parentContainer2 {
    display: flex;
    background-color: rubyred;
    padding: 20px;
    margin: 10px;
    border: royalblue solid 20px;
    height: flex;
    width: auto;
}
.flexChild {
    background-color: skyblue;
    padding: 10px;
    font-family: poppins;
    text-align: centre;
    width-min: 150px;
    margin: 10px;
    height: 50px;
}
.flexImage {
    display: flex;
    height: auto;
    width: auto;
    border: royalblue solid 10px;
    margin: yellow 10px;
    padding: cyan 10px;
}

body {
    background: #A02323;
    background: -webkit-linear-gradient ( to right, #EE82EE, #c90076);
    background: linear-gradient(to right, #ee82ee, #c90076);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;    
    margin: 20px red;
    border: 20px blue;
    padding: 20px green;
    font: #959595
}
h1{
    background: shadow;
    font-align: center;
    font-family: poppins;
    font-size: 45px;
    font-color: red;
    margin-bottom: 1px;
    
}
.pokemon-info {
    height: 500px;
    weight: 250px;
    background-color: purple;
}
.pokemondeets {
    border: black 40px;
    background-colour: yellow;  
}
.pokemon-img {
    background-color: orange;
}
.pokemon-types {
    height: 500px;
    weight: 250px;
    background-color: cyan;
}
.contentsbox {
    display: flex;
    border: black solid 20px;
    height: 500px;
    width: 500px;
    margin: 25px red solid;
    border-radius: 15px;

    background-color: green;    
}
.